<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.whiteleaf03.blogbackend.mapper.CommentMapper">
    <select id="queryAllComment" resultType="list">
        select date, nickname, email, text
        from comment;
    </select>

    <insert id="addComment" parameterType="cn.whiteleaf03.blogbackend.entity.Comment">
        insert into comment (date, nickname, email, text) value (#{date}, #{nickname}, #{email}, #{text});
    </insert>
</mapper>