<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.whiteleaf03.blogbackend.mapper.RecommendMapper">
    <select id="queryAllRecommend" resultType="cn.whiteleaf03.blogbackend.entity.Recommend">
        select title, coverPath, resourcePath, type from blog.recommend;
    </select>

    <insert id="addRecommend" parameterType="cn.whiteleaf03.blogbackend.entity.Recommend">
        insert into blog.recommend (title, coverPath, resourcePath, type) value (#{title}, #{cover}, #{resourcePath},#{type});
    </insert>
</mapper>