<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.whiteleaf03.blogbackend.mapper.SaysayMapper">
    <select id="queryAllSaysay" resultType="cn.whiteleaf03.blogbackend.entity.Saysay">
        select date, text from saysay;
    </select>

    <insert id="addSaysay" parameterType="cn.whiteleaf03.blogbackend.entity.Saysay">
        insert into saysay (date, text) VALUE (#{date}, #{text});
    </insert>
</mapper>